<h1> All The Villagers Are Here! </h1>

<br><br>

<a href="/villagers/new" > ➕ ADD A NEW VILLAGER TO YOUR WISHLIST</a>

<br><br>

<ul>

<% @villagers.each do |villager| %>

    <li>
        <a href="/villagers/<%= villager.id %>" >
            <%= villager.villagername %>
        </a>
    </li>

<% end %>

</ul>