<h1> Add a new villager to your wishlist! </h1>



<form method="POST" action="/villagers">

    

    <p> Villager Name: <input type="text" name="villagername"></p>
    <p> Personality: <input type="text" name="personality"></p>
    <p> Species: <input type="text" name="species"></p>

    <input type="submit">

</form>
